In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests

# Import the API key.
# Import the requests library.

import sys

sys.path.insert(1,'C:/Users/chris/CU-Repositories/')

from config import g_key

# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Lagoa,PT,2021-03-24 02:10:21,39.0500,-27.9833,54.68,53,26,6.13
1,1,Vostok,RU,2021-03-24 02:10:21,46.4856,135.8833,30.22,59,1,3.22
2,2,Orange,US,2021-03-24 02:10:22,33.7000,-117.7675,63.00,59,20,8.05
3,3,Hamilton,US,2021-03-24 02:05:37,39.1834,-84.5333,66.20,34,90,3.44
4,4,Teahupoo,PF,2021-03-24 02:10:22,-17.8333,-149.2667,89.60,58,40,3.44

In [2]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [3]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [4]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [5]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [10]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
4,4,Teahupoo,PF,2021-03-24 02:10:22,-17.8333,-149.2667,89.60,58,40,3.44
5,5,Bathsheba,BB,2021-03-24 02:10:22,13.2167,-59.5167,78.80,57,20,14.97
8,8,Tambun,ID,2021-03-24 02:10:23,-6.2641,107.0712,87.01,70,40,9.22
11,11,Merauke,ID,2021-03-24 02:10:23,-8.4667,140.3333,84.09,72,95,5.10
13,13,Matamoros,MX,2021-03-24 02:10:24,25.5333,-103.2500,77.00,7,75,21.88
14,14,Kapaa,US,2021-03-24 02:10:24,22.0752,-159.3190,79.00,47,1,10.36
22,22,Flinders,AU,2021-03-24 02:10:26,-34.5833,150.8552,81.00,51,0,11.01
25,25,Atuona,PF,2021-03-24 02:10:26,-9.8000,-139.0333,80.85,71,100,18.07
32,32,Kavieng,PG,2021-03-24 02:10:28,-2.5744,150.7967,80.17,82,100,6.91
34,34,Hilo,US,2021-03-24 02:10:28,19.7297,-155.0900,78.80,65,75,11.50

In [11]:
preferred_cities_df.isnull().sum()

City_ID       0
City          0
Country       0
Date          0
Lat           0
Lng           0
Max Temp      0
Humidity      0
Cloudiness    0
Wind Speed    0
dtype: int64

In [12]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

         City Country  Max Temp      Lat       Lng Hotel Name
4    Teahupoo      PF     89.60 -17.8333 -149.2667
5   Bathsheba      BB     78.80  13.2167  -59.5167
8      Tambun      ID     87.01  -6.2641  107.0712
11    Merauke      ID     84.09  -8.4667  140.3333
13  Matamoros      MX     77.00  25.5333 -103.2500
14      Kapaa      US     79.00  22.0752 -159.3190
22   Flinders      AU     81.00 -34.5833  150.8552
25     Atuona      PF     80.85  -9.8000 -139.0333
32    Kavieng      PG     80.17  -2.5744  150.7967
34       Hilo      US     78.80  19.7297 -155.0900

In [13]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key}
    # Iterate through the DataFrame.
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
# Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [15]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
4,Teahupoo,PF,89.60,-17.8333,-149.2667,Vanira Lodge
5,Bathsheba,BB,78.80,13.2167,-59.5167,Atlantis Hotel
8,Tambun,ID,87.01,-6.2641,107.0712,@HOM Premiere Tambun
11,Merauke,ID,84.09,-8.4667,140.3333,PC
13,Matamoros,MX,77.00,25.5333,-103.2500,Quinta Belem
14,Kapaa,US,79.00,22.0752,-159.3190,Sheraton Kauai Resort at Coconut Beach
22,Flinders,AU,81.00,-34.5833,150.8552,Shellharbour Resort & Conference Centre
25,Atuona,PF,80.85,-9.8000,-139.0333,Villa Enata
32,Kavieng,PG,80.17,-2.5744,150.7967,Nusa Island Retreat
34,Hilo,US,78.80,19.7297,-155.0900,Hilo Hawaiian Hotel

In [17]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [18]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

In [19]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [20]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))